In [1]:
import sys, os

notebook_dir = os.getcwd()
main_dir = notebook_dir[:notebook_dir.find("causal_prospective_merge")+ len("causal_prospective_merge")]
# Add the parent directory to the Python path
sys.path.append(main_dir)

from rct_data_generator import *
from causallib import datasets


data_path = '/Users/lucile/causal_info_gain/causal_prospective_merge/'
data_with_groundtruth, x, t, y = get_data(dataset='acic', path=data_path)

acic
True
(4802, 47)

In [2]:
data_with_groundtruth.head()

,x_1,x_3,x_4,x_5,x_6,x_7,x_8,x_9,x_10,x_11,...,x_53,x_54,x_55,x_56,x_57,x_58,T,Y,y0,y1
0,29,1.0,7.0,60,85,0,0,1,0,0,...,0,0,0,0,45,39,0,3.157727,3.890563,5.716108
1,27,0.0,0.0,64,178,0,0,0,0,0,...,0,0,0,0,46,42,0,4.281244,5.870844,8.913574
2,27,0.0,0.0,60,102,0,0,0,0,0,...,0,0,0,0,45,40,0,7.621447,7.006040,10.022676
3,37,0.0,0.0,65,174,0,0,0,0,0,...,0,0,0,0,47,40,1,4.015639,-1.046089,2.952779
4,24,20.0,14.0,63,129,0,0,0,0,0,...,0,0,0,0,47,43,0,-0.240268,-0.478072,6.246069

In [5]:
x.head()

,x_1,x_3,x_4,x_5,x_6,x_7,x_8,x_9,x_10,x_11,...,x_49,x_50,x_51,x_52,x_53,x_54,x_55,x_56,x_57,x_58
0,29,1.0,7.0,60,85,0,0,1,0,0,...,0,0,0,0,0,0,0,0,45,39
1,27,0.0,0.0,64,178,0,0,0,0,0,...,0,0,0,0,0,0,0,0,46,42
2,27,0.0,0.0,60,102,0,0,0,0,0,...,1,0,0,0,0,0,0,0,45,40
3,37,0.0,0.0,65,174,0,0,0,0,0,...,0,0,0,0,0,0,0,0,47,40
4,24,20.0,14.0,63,129,0,0,0,0,0,...,2,0,0,0,0,0,0,0,47,43

In [7]:
y.head()

0    3.157727
1    4.281244
2    7.621447
3    4.015639
4   -0.240268
Name: Y, dtype: float64

In [ ]:
data['a']

0       0
1       0
2       0
3       1
4       0
       ..
4797    1
4798    1
4799    1
4800    1
4801    0
Name: a, Length: 4802, dtype: int64

In [ ]:
data = datasets.data_loader.load_acic16()
del data['descriptors']

In [ ]:
x =data['X']
x

,x_1,x_3,x_4,x_5,x_6,x_7,x_8,x_9,x_10,x_11,...,x_21_K,x_21_L,x_21_M,x_21_N,x_21_O,x_21_P,x_24_B,x_24_C,x_24_D,x_24_E
0,29,1.0,7.0,60,85,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
1,27,0.0,0.0,64,178,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,27,0.0,0.0,60,102,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,37,0.0,0.0,65,174,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,24,20.0,14.0,63,129,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4797,21,0.0,0.0,67,140,0,0,2,0,0,...,0,0,0,0,0,0,1,0,0,0
4798,24,0.0,0.0,62,130,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4799,33,5.0,15.0,63,137,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4800,36,10.0,22.0,60,110,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
4801,18,0.0,0.0,65,110,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [ ]:
data['po'].rename(columns={'0': 'y0', '1': 'y1'})

             0          1
0     3.890563   5.716108
1     5.870844   8.913574
2     7.006040  10.022676
3    -1.046089   2.952779
4    -0.478072   6.246069
...        ...        ...
4797  3.468946   5.867435
4798  4.827529   9.988942
4799  4.183918   9.469441
4800  4.684806  11.919826
4801  2.587836   7.410462

[4802 rows x 2 columns]

In [ ]:
a=data['a']
a

0       0
1       0
2       0
3       1
4       0
       ..
4797    1
4798    1
4799    1
4800    1
4801    0
Name: a, Length: 4802, dtype: int64

In [8]:
w=12

In [9]:
w>10

True